<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align: center" class="content">
  <h1>Liste de Pokémons</h1>
</div>
<div class="container">
  <div class="row">
    <div class="col m4 s6" *ngFor="let pokemon of pokemonList">
      <div class="card horizontal">
        <div class="card-image">
          <img [src]="pokemon.picture" alt="" />
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <b>{{ pokemon.name }}</b>
            <p>
              <small>{{ pokemon.created }}</small>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
